.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: var(--bg);
  color: var(--primary);
  /* Add additional styling as needed */
}

.header__logo {
  font-size: 2rem;
  cursor: pointer;
  /* Add additional styling as needed */
}

.header__actions {
  display: flex;
  align-items: center;
  /* Add additional styling as needed */
}

.header__toggle,
.header__my-analyses-button,
.header__new-analyses-button,
.header__logout-button {
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  border: none;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  background-color: var(--primary);
  color: var(--text-color);
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  /* Add additional styling as needed */
}

.header__toggle:hover,
.header__my-analyses-button:hover,
.header__logout-button:hover {
  background-color: var(--accent);
}

/* If you need a specific style for the toggle icon */
.header__toggle .fa,
.header__my-analyses-button .fa,
.header__logout-button .fa {
  margin-right: 8px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .header {
    padding: 0.5rem 1rem;
  }

  .header__logo {
    font-size: 1.5rem;
  }

  .header__toggle,
  .header__my-analyses-button,
  .header__logout-button {
    padding: 0.5rem;
    margin-left: 0.5rem;
    font-size: 0.875rem;
  }
}
