.user-analyses {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.user-analyses__title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
  color: var(--primary);
  /* Additional styling */
}

.user-analyses__list {
  list-style-type: none; /* Removes bullet points */
  padding: 0;
  margin: 0;
}

.user-analyses__item {
  background-color: var(--bg-variant); /* Lighter background for the card */
  color: var(--text-color);
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;  /* Shadows and more to make it look like a card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-analyses__item:hover {
  background-color: var(
    --border-color
  );
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); 
}

.user-analyses__job-title {
  font-weight: bold;
  font-size: 18px;
  color: var(--text-color);
}

.user-analyses__date {
  font-size: 14px;
  color: var(--primary);
}
